<!-- START PORTFOLIO SECTION -->
<section id="portfolio" class="section-padding">
  <div class="auto-container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-12 mx-auto text-center">
        <div class="section-title">
          <h6 class="theme-color">We love our work</h6>
          <h2>Image Gallery</h2>
          <p>Explore moments of learning, creativity, and achievements at {{siteNameLogo}} through our vibrant photo and activity gallery.

          </p>
        </div>
      </div>
    </div>
    <!-- end section title -->
    
    <!-- end portfolio menu list -->
    <div class="row project-list">
      {{#each gallery}}
      <div class="col-lg-4 col-md-6 col-12 mb-lg-4 mb-md-4 mb-4 two">
        <figure class="portfolio-sin-item">
          <img class="img-fluid" src="{{pic}}" alt="" />
          <figcaption>
            {{!-- <h3>Portfolio Title</h3> --}}
            <div class="port-icon mt-3">
              <a class="icon-ho venobox" href="{{pic}}" data-title="PORTFOLIO TITTLE"
                data-gall="gall1"><i class="icofont-eye"></i></a>
              {{!-- <a class="icon-ho" href="#"><i class="icofont-link"></i></a> --}}
            </div>
          </figcaption>
        </figure>
      </div>
      {{/each}}
      <!--  end single item -->
      {{!-- <div class="col-lg-4 col-md-6 col-12 mb-lg-4 mb-md-4 mb-4 four">
        <figure class="portfolio-sin-item">
          <img class="img-fluid" src="assets/img/gallery/2.jpg" alt="" />
          <figcaption>
            <h3>Portfolio Title</h3>
            <div class="port-icon mt-3">
              <a class="icon-ho venobox" href="assets/img/gallery/2.jpg" data-title="PORTFOLIO TITTLE"
                data-gall="gall1"><i class="icofont-eye"></i></a>
              <a class="icon-ho" href="#"><i class="icofont-link"></i></a>
            </div>
          </figcaption>
        </figure>
      </div> --}}
      <!--  end single item -->
      {{!-- <div class="col-lg-4 col-md-6 col-12 mb-lg-4 mb-md-4 mb-4 two four">
        <figure class="portfolio-sin-item">
          <img class="img-fluid" src="assets/img/gallery/6.jpg" alt="" />
          <figcaption>
            <h3>Portfolio Title</h3>
            <div class="port-icon mt-3">
              <a class="icon-ho venobox" href="assets/img/gallery/6.jpg" data-title="PORTFOLIO TITTLE"
                data-gall="gall1"><i class="icofont-eye"></i></a>
              <a class="icon-ho" href="#"><i class="icofont-link"></i></a>
            </div>
          </figcaption>
        </figure>
      </div> --}}
      <!--  end single item -->
      {{!-- <div class="col-lg-4 col-md-6 col-12 two mb-md-4 mb-4 one three">
        <figure class="portfolio-sin-item">
          <img class="img-fluid" src="assets/img/gallery/1.jpg" alt="" />
          <figcaption>
            <h3>Portfolio Title</h3>
            <div class="port-icon mt-3">
              <a class="icon-ho venobox" href="assets/img/gallery/1.jpg" data-title="PORTFOLIO TITTLE"
                data-gall="gall1"><i class="icofont-eye"></i></a>
              <a class="icon-ho" href="#"><i class="icofont-link"></i></a>
            </div>
          </figcaption>
        </figure>
      </div> --}}
      <!--  end single item -->
      {{!-- <div class="col-lg-4 col-md-6 col-12 mb-4 two one">
        <figure class="portfolio-sin-item">
          <img class="img-fluid" src="assets/img/gallery/4.jpg" alt="" />
          <figcaption>
            <h3>Portfolio Title</h3>
            <div class="port-icon mt-3">
              <a class="icon-ho venobox" href="assets/img/gallery/4.jpg" data-title="PORTFOLIO TITTLE"
                data-gall="gall1"><i class="icofont-eye"></i></a>
              <a class="icon-ho" href="#"><i class="icofont-link"></i></a>
            </div>
          </figcaption>
        </figure>
      </div> --}}
      <!--  end single item -->
      {{!-- <div class="col-lg-4 col-md-6 col-12 one three four">
        <figure class="portfolio-sin-item">
          <img class="img-fluid" src="assets/img/gallery/3.jpg" alt="" />
          <figcaption>
            <h3>Portfolio Title</h3>
            <div class="port-icon mt-3">
              <a class="icon-ho venobox" href="assets/img/gallery/3.jpg" data-title="PORTFOLIO TITTLE"
                data-gall="gall1"><i class="icofont-eye"></i></a>
              <a class="icon-ho" href="#"><i class="icofont-link"></i></a>
            </div>
          </figcaption>
        </figure>
      </div> --}}
      <!--  end single item -->
    </div>
    {{!-- <div class="row mt-4">
      <div class="col-12 mx-auto text-center wow fadeInDown">
        <a href="#" class="port-btn">Load More <i class="icofont-bubble-right"></i></a>
      </div>
    </div> --}}
  </div>
  <!--- END CONTAINER -->
</section>
<!-- END PORTFOLIO SECTION -->