  <!-- START SERVICE TAB SECTION -->
      <section id="servicetab" class="section-padding">
          <div class="auto-container">
            <div class="row">
               <div class="col-lg-7 col-md-7 col-12 mx-auto text-center">
                  <div class="section-title">
                     <h6 class="theme-color">What We Do</h6>
                     <h2>Services We Provide</h2>
                     <p>{{siteName}} provides quality education with modern teaching methods, co-curricular activities, and skill-based learning. We ensure a balanced focus on academics, sports, and personality development, supported by experienced faculty, advanced facilities, and a nurturing environment for every student’s growth.</p>
                  </div>
               </div>
            </div>
            <!-- end section title -->
              <div class="service-tab">
                 <div class="row">
                    <div class="col-lg-3 col-12 mb-lg-0 mb-md-4 mb-4">
                     <ul id="tabsJustified" class="nav nav-tabs">
                        <li class="nav-item">
                           <a href="#" data-target="#one" data-toggle="tab" class="nav-link">
                              <i class="icofont-teddy-bear"></i>
                              <span>Day Care Facilities</span>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a href="#" data-target="#two" data-toggle="tab" class="nav-link active">
                              <i class="icofont-paper"></i>
                              <span>Books & Libraries</span>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a href="#" data-target="#three" data-toggle="tab" class="nav-link">
                              <i class="icofont-bus-alt-2"></i>
                              <span>Quality Transport</span>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a href="#" data-target="#four" data-toggle="tab" class="nav-link">
                              <i class="icofont-stethoscope-alt"></i>
                              <span>Health Treatment</span>
                           </a>
                        </li>
                     </ul>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                       <div id="tabsJustifiedContent" class="tab-content">
                           <div id="one" class="tab-pane animated fadeInUp">
                              <div class="auto-container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-md-0 mb-5 text-lg-right text-left">
                                       <div class="service-tab-left">
                                          <h4>Day Care Facilities</h4>
                                          <p>{{siteName}} offers safe, caring, and well-supervised day care facilities for young children. With trained staff, engaging activities, nutritious meals, and a nurturing environment, we ensure that children feel at home while learning, playing, and developing essential social and life skills.</p>
                                          <a href="#" class="service-btn">View Service </a>
                                       </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-12 pl-lg-5 pl-0">
                                       <div class="ab-img-col">
                                           <figure>
                                               <img class="img-fluid" src="assets/img/service/6.jpg" alt="">
                                           </figure>
                                       </div>
                                    </div>
                                    <!-- end col -->
                                 </div>
                              </div>
                           </div>
                           <div id="two" class="tab-pane animated fadeInUp active show">
                              <div class="auto-container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-md-0 mb-5 text-lg-right text-left">
                                       <div class="service-tab-left">
                                          <h4>Library Facilities</h4>
                                          <p>Our well-stocked library provides students with a wide collection of books, journals, and digital resources to enhance learning. Designed to encourage reading habits and research skills, the library offers a quiet and inspiring environment where students can explore knowledge beyond textbooks and develop a lifelong love for learning.</p>
                                          <a href="#" class="service-btn">View Service </a>
                                       </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-12 pl-lg-5 pl-0">
                                       <div class="ab-img-col">
                                           <figure>
                                               <img class="img-fluid" src="assets/img/service/2.jpg" alt="">
                                           </figure>
                                       </div>
                                    </div>
                                    <!-- end col -->
                                 </div>
                              </div>
                           </div>
                           <div id="three" class="tab-pane animated fadeInUp">
                              <div class="auto-container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-md-0 mb-5 text-lg-right text-left">
                                       <div class="service-tab-left">
                                          <h4>Transport Service</h4>
                                          <p>{{siteName}} provides safe and reliable transport facilities with a fleet of well-maintained buses. Each vehicle is equipped with GPS tracking and supervised by trained staff to ensure security and comfort. Our transport network covers major routes, making daily travel convenient for students and parents alike</p>
                                          <a href="#" class="service-btn">View Service </a>
                                       </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-12 pl-lg-5 pl-0">
                                       <div class="ab-img-col">
                                           <figure>
                                               <img class="img-fluid" src="assets/img/service/3.jpg" alt="">
                                           </figure>
                                       </div>
                                    </div>
                                    <!-- end col -->
                                 </div>
                              </div>
                           </div>
                           <div id="four" class="tab-pane animated fadeInUp">
                              <div class="auto-container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-md-0 mb-5 text-lg-right text-left">
                                       <div class="service-tab-left">
                                          <h4>Health Service</h4>
                                          <p>{{siteName}} ensures the well-being of every child through regular health check-ups, first-aid facilities, and medical support on campus. Qualified healthcare professionals are available to address emergencies, while health awareness programs promote hygiene, nutrition, and fitness, fostering a safe and healthy environment for students’ overall growth.</p>
                                          <a href="#" class="service-btn">View Service </a>
                                       </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-12 pl-lg-5 pl-0">
                                       <div class="ab-img-col">
                                           <figure>
                                               <img class="img-fluid" src="assets/img/service/4.jpg" alt="">
                                           </figure>
                                       </div>
                                    </div>
                                    <!-- end col -->
                                 </div>
                              </div>

                           </div>
                        </div>
                    </div>
                    <!-- end col -->
                 </div>
              </div>
          </div>
          <!--- END CONTAINER -->
      </section>
      <!-- END SERVICE TAB SECTION -->
